
.marg{
    margin: 5px;
}

.barra{
    background-color: rgba(0, 131, 179, 0.38);
    overflow: hidden;
}

.pad20{
    padding: 20px;
 }

a.whity{
    color: #FFFFFF;
}

.contenTweets{
    background-color: rgba(255, 255, 255, 0.78);
    border-radius: 10px;
}